{%extends 'base.html'%}


{%block content%}
<h1>{{blog.title}}</h1>
{%if blog.image %}
<img width="300px" src="{{blog.image.url}}" alt="">
{%endif%}
<p>{{blog.description}}</p>

<h3>Comments</h3>

{%for comment in comments%}
<p><b>{{comment.name}}</b></p>
<p>{{comment.message}}</p>
<hr>
{%endfor%}

{%if errors%}
{{errors}}
{%endif%}
<form action="" method="POST">
    {%csrf_token%}
    <label for="">Name</label>
    <input type="text" name="name">
    <br>

    <label for="">Message</label>
    <textarea name="message" id="" cols="30" rows="10"></textarea>
    <br>

    <button>Submit</button>
</form>
{%endblock%}